NEXT_PUBLIC_API_URL=/api
# Local MongoDB example:
# MONGODB_URI=mongodb://127.0.0.1:27017/school_management_pro_next_only
MONGODB_URI=mongodb+srv://username:password@cluster.example.mongodb.net/school_management_pro_next_only?retryWrites=true&w=majority
JWT_SECRET=change_this_secret
AUTH_COOKIE_NAME=token
AUTH_COOKIE_SAME_SITE=lax
AUTH_COOKIE_SECURE=false
AUTH_COOKIE_MAX_AGE_DAYS=7
PASSWORD_RESET_TOKEN_MINUTES=20 
ADMIN_INVITE_CODE=admin_invite_code
PASSWORD=hSYurl6h4wLrBXPu schoozapp-we's Project
